*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
.container{
    background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,150,62,1) 100%, rgba(252,176,69,1) 100%);;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-box{
    width: 100%;
    background-color: white;
    max-width: 40%;
    border-radius: 10px;
    margin: 100px auto 80px;
    padding: 40px 30px 30px;
}
h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
h2 img{
    width: 1.3em;
    margin-left: 0.4em;
    margin-bottom: 0.2em;
}
.row{
    display:flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    padding-left: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}
input{
    flex: 1;
    padding: 0.8em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 17px;
}
#addbtn{
    border-radius: 15px;
    padding: 1em 2em;
    background-color:rgb(249, 89, 89);
    color: white;
    border: none;
    outline: none;
}
#addbtn:hover{
    background-color: rgb(255, 52, 52);
    cursor: pointer;
}

.tasks{
    /* background-color: gray; */
    margin: 2em 1em;
}
 .tasks li{
    list-style: none;
    padding: 10px 70px;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    /* background-color: gray; */
    
}
 .tasks li::before{
    content:'';
    position: absolute;
    background-image: url(images/unchecked.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    left: 0.5em;
    /* top: -0.5em; */
    bottom: 0.3em;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    font-size: 22px;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    top: 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(211, 209, 209);
}